#home {
  position: relative;
  background: url("../../assets/bgIMG.png");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;

  .app__wrapper {
    padding: 0;

    .copyright {
        display: none;
    }
  }
}
